.card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.input-group {
  .btn-outline-secondary {
    border-color: #ced4da;

    &:hover {
      background-color: #e9ecef;
      border-color: #ced4da;
      color: #495057;
    }
  }
}

.alert-info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460;
}
